.container-fluid {
    padding-top: 15px;
}

.profile-form {
    width: 440px;
}

.login-form {
    width: 440px;
    margin: 50px auto;
}

.register-form {
    width: 440px;
    margin: 50px auto;
}

.login-form form, .register-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2, .register-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.standalone-container {
    width: auto;
}

#snow-container {
    height: 200px;
    margin-bottom: 15px;
}

#entries {
    margin-top: 60px;
}

.error-msg {
    display: block;
}
