{% extends "./../layout/base.twig"%}

{% block content %}
    <div class="login-form">
        <form action="/forgot" method="post">
            <h2 class="text-center">Forgot Password</h2>

            {% if flash_error %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                </div>
            {% endif %}

            {% if flash_success %}
                <div class="alert alert-success" role="alert">
                    {{ flash_success }}
                </div>
            {% endif %}

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}
